.search-bar{
    position: relative;
    float: right;
    margin-bottom: 10px;
    width: 400px;
    z-index: 2;
}


.export-server{
    margin-bottom: 15px;
    border: 1px black solid
}
// .collapsible {
//     background-color: #777;
//     color: white;
//     cursor: pointer;
//     padding: 18px;
//     width: 100%;
//     border: none;
//     text-align: left;
//     outline: none;
//     font-size: 15px;
//   }
  